html {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    color: var(--main-text-color);
}

:root {
    --main-bg-color: rgb(182, 182, 182);
    --second-bg-color: rgb(230, 230, 230);
    --blue-color: silver;
    --main-text-color: rgb(38, 38, 38);
}

:root {
    --font-family: 'Times New Roman', Times, serif;
    --fontSize-1: 1rem;
    --fontSize-2: 1.18rem;
    --fontSize-3: 1.75rem;
}

:root {
    --pages-padding: 50px 10px;
}

/*header styling*/
header {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

.logo {
    height: 70px;
    width: auto;
    margin:0;
    flex-shrink: 0;
    flex-grow: 0;
}

header > .right > ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header > .right > ul > li {
    font-size: var(--fontSize-2);
    list-style: none;
}

@media (max-width: 650px) {
   
    header > .right > ul {
        flex-direction: column;
    }
    header > .right > ul > li {
        font-size: var(--fontSize-1);
    }
}

/*first page*/
.first-page {
    background-color: var(--main-bg-color);
    padding: var(--pages-padding);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 110%;
}
.first-page > h1 {
    font-size: var(--fontSize-3);
}
.intro {
    max-width: 500px;
    font-size: var(--fontSize-1);
}

.first-page > .intro > button {
    padding: 10px 50px;
    font-size: var(--fontSize-2);
    background-color: var(--blue-color);
    border-radius: 13px;
    border-color: var(--main-text-color);
    font-family: var(--font-family);
}

.product {
    height: 300px;
    max-height: fit-content;
    border-radius: 13px;
}

@media (max-width: 650px) {
    .first-page {
        display: flex;
        flex-direction: column;
    }
    .intro {
        padding-bottom: 30px;
    }
}

/*second part*/

.second-page {
    background-color: var(--second-bg-color);
    margin: 0;
    padding: var(--pages-padding);
}

.second-page > h2 {
    font-size: var(--fontSize-3);
    text-align: center;
    padding-bottom: 50px;
}

.p2_wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.section {
    width: 150px;
    max-width: 220px;
    font-size: var(--fontSize-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.window {
    background-color: var(--main-bg-color);
    height: 150px;
    width: 150px;
    max-width: 100%;
    border-radius: 13px;

}

/* third part */

.third-page {
    background-color: var(--second-bg-color);
    padding: var(--pages-padding);
    
}

.third-page > .quote {
    font-size: var(--fontSize-3);
    font-style: italic;
    max-width: 700px;
    line-height: 150%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.third-page > .quote > .author {
    align-self: flex-end;
    padding: 30px;
    font-weight: bold;
}

@media (max-width: 650px) {
    .third-page > .quote {
     
        font-size: var(--fontSize-2);
    }
}

/*footer*/
.footer {
    background-color: var(--main-bg-color);
    padding: var(--pages-padding);
    display: flex;
    justify-content: center;
    
}
.footer-content {
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    border-radius: 15px;
}

.footer-content > button {
    width:200px;
    padding: 10px;
    font-family: var(--font-family);
    font-size: var(--fontSize-3);
    border-radius: 15px;
    border-color: var(--main-text-color);
    background-color: var(--blue-color);
}

